<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="appSettings" type="System.Configuration.AppSettingsSection" />
    </configSections>
    <connectionStrings>
        <add name="ExcelReader.Properties.Settings.ConnectionString" connectionString="Dsn=Excel Files" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="defaultTestDataDirectory" value="/TestData/" />
        <add key="defaultExcelSheetName" value="" />
    </appSettings>
</configuration>